[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jsonschema = "*"
warlock = "*"
mypy = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pillow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
