<article id="partials_search">
  <form class="search-form">
    <span><h4 style="display: inline;">Ingredients: </h4><span id="search-area-ingredients"></span>{{ partial "form-ui/input" (dict "id" "search-ingredient") }}
    <div style="padding: 2em 0;">
      <button id="search-submit" type="button">Search</button>
    </div>
  </form>
</article>
<script src="/js/search/search.js"></script>
<style>
  .filter-ingredient {
    cursor: pointer;
    display: inline-block;
    background-color: rgb(205, 236, 255);
    border-radius: 16px;
    padding: 4px;
    margin: 0.22em;
  }

  .filter-ingredient:hover {
    background-color: rgb(162, 219, 255);
    ;
  }

  .filter-ingredient-label {
    cursor: pointer;
    padding: 0 4px 0;
  }

  #search-ingredient {
    width: 2.3em !important;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    transition: width 0.3s, min-width 0.3s;
  }
  #search-ingredient:not(:focus)::before {
    content: "+";
  }
  #search-ingredient:focus, .search-add-button {
    width: 11em !important;
    border-radius: 16px;
    font-size: 16px;
    display: inline-block;
    cursor: auto;
  }
  #search-submit:hover {
    cursor: pointer;
  }
  /* TODO make it grow when selected with focus */
</style>
