<div data-pagefind-body>
{{ with .Get "url" }}
  {{ $data := getJSON . }}

  <h2>Ingredients</h2>
  {{ range $data.ingredients }}
    {{ with .sectionTitle }}
      <h3> {{ . }}</h3>
    {{ end }}
    {{ with .ingredients }}
      <ul>
      {{ range . }}
      <li>
        {{ if .amount }}
          <b>{{ cond ( eq (len .amount) 1 ) ( index .amount 0 ) ( printf "%v-%v" (index .amount 0) (index .amount 1) ) }}
        {{ end }}
        {{ .unit }}</b> {{ .ingredient }}</li>
      {{ end }}
      </ul>
    {{ end }}
  {{ end }}

  {{ range $data.steps }}
    <h2>Steps</h2>
    {{ with .sectionTitle }}
      <h3> {{ .sectionTitle }}</h3>
    {{ end }}
    <ol>
    {{ range .steps }}
      <li>{{ . }}</li>
    {{ end }}
    </ol>
  {{ end }}
{{ end }}
</div>